* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CBE8F1;
    color: #0F1111;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

header {
    background-color: #27A5DC;
    display: flex;
    justify-content:space-between;
}

h1{
  font-family: "Sunday-Regular"; 
}

.title-wrap {
    padding: 10px;
    padding-left: 55px;
    font-weight: bold;
}

.link-wrap {
    margin-top: 15px;
    margin-right: 55px;
}


.nav-link {
  margin: 5px;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  color: rgb(68,68,68);
  padding: .2em 1.2em;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 12px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
}



.top-section {
    margin-top: 5px;
    background-image: url("assets/images/aurora.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 200px;
    text-align: center;
    color: #79B1F9;
}

#info {
    display: flex;
    justify-content: flex-start;
}

.info-section {
    width: 95%;
    margin-top: 5px;
    background-color: #9AC0CD;
    margin-left: 2.5%;

}

.info-img {
    padding: 15px;
    width: 300px;
    height: 390px;
}

.info-text {
    font-family: "Comic Sans MS";
    padding-top: 20px;
    color: black;

}

.row {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.card-section {
    padding-left: 50px;
    padding-right: 50px;
    width: 95%;
    margin-top: 10px;
    background-color: #9AC0CD;
    margin-left: 2.5%;
}

.card-title {
    font-family: "Teddy-bear"; 
    background-color:#7ED1EB;
    text-align: center;
    border-radius: 20%;
}

.card {
    background: #D9D9D9;
}

.card p {
    padding: 5px;
}

.cardImg {
    padding: 10px;
    max-width: 600px;
    height: auto;
}

#slider-wrap {
 display: flex;
 justify-content:space-between;
 padding: 20px;
}

.slider-section {
    width: 95%;
    margin-top: 15px;
    margin-bottom: 35px;
    background-color: #9AC0CD;
    margin-left: 2.5%;
}



.carousel-inner {
  max-height: 1200px;
  max-width: 1160px;
}

footer {
    margin-top: 15px;
    background-color: #27A5DC;
    display: flex;
    justify-content:space-between;
}

.instagram-img{    
     margin-right: 40px;
}

.copyrate {
    padding: 5px;
    margin-left: 55px;
    font-weight: bold;
}


@font-face {
font-family: "Sunday-Regular"; 
src: url("./fonts/cd2f1-36d91_sunday.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 


@font-face {
font-family: "Teddy-bear"; 
src: url("./fonts/teddy-bear.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 

            